<div class="nav">
                                <span>Page {{page}}/{{pages}}</span>                                
{{#if prev}}
                                <a href="{{pageUrl prev}}">
                                    <i class="fa fa-angle-left"></i>
                                </a>
{{/if}}
{{#if next}}
                                <a href="{{pageUrl next}}">
                                    <i class="fa fa-angle-right"></i>
                                </a>
{{/if}}
                            </div>